/*[fmt]AA90-1A0A-3*/
/*Basis*/
html
{
	background: #F5F5F5;
}
body
{
	margin: 0;
	font: 12px Arial;
}
/*Div's*/
#container
{
	margin: 40px auto 0;
	width: 930px;
}
#logo
{
	margin: 0 218px 0 10px;
	float: left;
	width: 77px;
}
#menu
{
	float: left;
	width: 606px;
	margin: 5px 0 0;
}
#header
{
	position:relative;
	overflow:hidden;	
	margin: 8px 0 0;
	padding: 0px;
	width: 914px;
	height: 172px;
	float: left;
	background-color: #F5F5F5;
}
#header .title
{
	margin: 0px;
	padding: 0px;
	font-size: 16pt;
}
#header .scroll_img
{
	margin: 20px;
}
#header .items {
	/* this cannot be too large */
	width:200000em;
	position:absolute;
}
#header .items div {
	float:left;
	width: 914px;
}
#content
{
	width: 616px;
	float: left;
	margin: 7px 20px 0 0;
}
#sidebar
{
	float: left;
	margin: 7px 0 0;
}
#footer
{
	float: left;
	width: 883px;
	margin: 12px 0 0 21px;
}
/*Classes*/
.top_small
{
	background: url(img/top_small.png);
	width: 284px;
	height: 48px;
}
.middle_small
{
	background: url(img/middle_small.png);
	width: 241px;
	padding: 19px 15px 15px 29px;
	#padding-bottom: 0px;
}
.bottom_small
{
	background: url(img/bottom_small.png);
	width: 284px;
	height: 8px;
	margin: 0 0 15px;
}
.top_long
{
	background: url(img/top_long.png);
	width: 613px;
	height: 48px;
}
.middle_long
{
	background: url(img/middle_long.png);
	width: 548px;
	padding: 22px 35px 13px 30px;
}
.bottom_long
{
	background: url(img/bottom_long.png);
	width: 613px;
	height: 8px;
	margin: 0 0 15px;
}
.top_normal
{
	background: url(img/top_normal.png);
	width: 614px;
	height: 9px;
}
.logos
{
	border: 1px solid #C6C6C6;
	margin: 0 0 9px 42px;
}
.linkcontent
{
	float: right;
	margin: 0 60px 0 0;
}
.linksidebar
{
	float: right;
	margin: 0 19px 0 0;
	#margin-bottom: 15px;
}
.submit
{
	background: #FFFFFF none;
	border: 0px solid #000000;
	color: #D78135;
	font: bold 11px sans-serif;
	float: right;
	width: 101px;
	#margin-bottom: -37px;
}
.inlog
{
	font: bold 1em sans-serif;
	/*[empty]color:;*/
	margin: 0 0 -12px 5px;
	#margin-bottom: -16px;
}
.left
{
	float: left;
	color: #A3A3A3;
}
.right
{
	float: right;
	color: #A3A3A3;
}
/*Menu*/
#menu ul
{
	list-style: none;
}
#menu ul a
{
	text-decoration: none;
	float: left;
	display: block;
	overflow: hidden;
	font: bold 14px sans-serif;
	color: #FFFFFF;
	background: url(img/menu.png);
	width: 113px;
	height: 30px;
	text-align: center;
	padding: 12px 0 0;
}
#menu li a:hover, #menu li.active a, #menu li.active a:hover
{
	background: url(img/menu_hover.png);
}
/*Overig*/
img
{
	border: 0px solid #000000;
}
h2
{
	color: #FFFFFF;
	font: bold 12px sans-serif;
	padding: 26px 0 0 32px;
}
p
{
	color: #303030;
	margin: 0;
}
span
{
	font: bold 1em sans-serif;
	color: #155A6D;
}
#content a
{
	text-decoration: none;
	color: #155A6D;
}
#sidebar a
{
	text-decoration: none;
	color: #D88236;
}
#container a:hover
{
	text-decoration: underline;
}
input
{
	background: url(htmlCliff/img/input.png);
	border: 1px solid #878787;
	height: 19px;
	width: 204px;
	margin: 3px 0 11px;
	padding: 4px;
	color: #2F2F2F;
}
a
{
	color: #A2A2A2;
}
a:hover
{
	color: #E47412;
}

/* JQUERY */

	
div.apple_overlay h2 {
	margin:10px 0 -9px 0;
	font-weight:bold;
	font-size:14px;
}
	
div.black h2 {
	color:#fff;
}
	
#triggers {
	margin-top:10px;
	text-align:center;
}
	
#triggers img {
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	margin:2px 5px;
	cursor:pointer;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.apple_overlay {
	display:none;
	background-image:url(img/overlay/white.png);
	width:640px;
	padding:35px;
	font-size:11px;
}

.apple_overlay .close {
	background-image:url(img/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}